body {
    overflow-x: hidden;
}

#main {
    
}

.red-text {
    color: #FF5F00;
}

.custom-button {
    display: inline-block;
    padding: 0.5em;
    margin: 1em;
    cursor: pointer;
    transition-duration: 0.3s;
}

.custom-button.red-button {
    border-radius: 2px;
    background-color: rgba(10, 10, 10, 0.6);
    border: 2px solid #FF5F00;
}

.custom-button.red-button:first-of-type {
    background-color: #FF5F00;
}

.custom-button.red-button:hover {
    background-color: rgba(250, 250, 250, 0.8);
    color: #111;
    text-decoration: underline;
}

.block-centered {
    display: block;
    margin: auto;
}


#main .landing {
    position: relative;
    background-image: url(/home/bobbyanne/Documents/AmericanFlooring/resources/images/wood-floor/wood-floor-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #777;
    background-blend-mode: multiply;
    background-attachment: fixed;
    font-family: Roboto;
    width: 100%;
    height: 80vh;
} 

#main .landing-info-container {
    left: 50%;
    top: 30%;
    transform: translate(-50%);
    width: 80%;
    position: absolute;
    text-align: center;
    color: #fff;
    border-top: 3px solid #fff;
    padding: 2em 0;
}

#main .landing-info-container h1 {
    font-family: Roboto;
    margin: 0;
    width: 100%;
    font-size: 2.2em;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: -2px 2px 4px #111;
}

#main .landing-info-container h4 {
    font-family: Roboto Slab;
    width: 60%;
    margin: auto;
    padding: 1em 1em 2em 1em;
    font-weight: lighter;
    border-bottom: 3px solid #fff;
    
}

/* WHY US */

section.why-choose-us {
    margin: auto;
    color: #474747;
    background-color: #fff;
}

.why-choose-us h1 {
    font-family: Roboto Condensed;
    position: relative;
    color: #474747;
    font-size: 2.2em;
    width: 680px;
    font-weight: lighter;
    margin: 0 auto;
    margin-top: 1.5em;
    margin-bottom: 0.6em;
    text-transform: uppercase;
}

.why-choose-us h1:after {
    content: "";
    position: absolute;
    right: -27%;
    width: 25%;
    top: 50%;
    height: 1px;
    background-color: #474747;
}

.why-choose-us h1:before {
    content: "";
    position: absolute;
    left: -28%;
    width: 25%;
    top: 50%;
    height: 1px;
    background-color: #474747;
}

.why-choose-us h4 {
    font-weight: normal;
    width: 60%;
    margin: 0 auto 2em auto;
    text-align: center;
}

.benefits-container {
    background-size: cover;
    width: 100%;
    padding: 0;
    color: #474747;
}

.benefits-list {
    width: 80%;
    margin: 0 auto;
    font-size: 0;
}

.benefit {
    font-size: 16px;
    box-sizing: border-box;
    display: inline-block;
    width: 33%;
    height: 330px;
    overflow: hidden;
    padding: 1em 1em 1em 1em;
    position: relative;
    border-right: 1px solid #474747;
}

.benefit:last-of-type {
    margin-right: 0;
    border: none;
}

.benefit .benefit-heading {
    font-size: 1.4em;
    font-family: Roboto Condensed;
    margin: 1em 0 -1em 0;
    font-weight: normal;
    text-transform: uppercase;
    width: 100%;
    color: #272727;
}

.benefit img.icon {
    width: 180px;
}

.benefit .icon {
    display: block;
    margin: auto;
}

.benefit .benefit-description {
    padding: 1em;
    text-align: center;
    color: #474747;
    font-family: Roboto Slab;
}

.benefit .dots {
    width: 50px;
    display: block;
    margin: auto;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

/* SERVING TORRENCE */

section.serving-torrence {
    margin: 5em 0;
    position: relative;
    background-color: #eee;
    padding: 2em 0 28em 0;
    background: url(../../resources/images/hollywood-02.jpg) center top no-repeat;
    background-position: center 0px;
    background-size: cover;
    overflow: hidden;
}

#birds-bg {
    position: absolute;
    right: -300px;
    top: 160px;
    opacity: 0.7;
}

.serving-torrence-description {
    color: #fff;
    width: 80%;
    margin: auto;
    border-left: 4px solid #FF5F00;
    padding: 1em;
}

.serving-torrence h1 {
    width: 80%;
    font-family: Roboto Condensed;
    text-transform: uppercase;
    font-size: 2.2em;
}

.serving-torrence-description p {
    width: 80%;
    font-family: Roboto Slab;
}

/* MORE THAN Flooring */

#more-than-flooring-container {
    height: 1500px;
    position: relative;
    overflow: hidden;
}

section.more-than-flooring {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: -1;
    overflow: hidden;
}

section.more-than-flooring.fixed {
    position: fixed;
    height: 100vh;
    top: 0%;
}

section.more-than-flooring.done {
    position: absolute;
    top: unset;
    bottom: 0;
    overflow: visible;
}

section.more-than-flooring #cabinet-svg {
    width: 400px;
    height: 100%;
    margin-left: 10%;
    overflow: visible;
}

.more-then-flooring-right {
    position: absolute;
    width: 40%;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    color: #474747;
    overflow: visible;
}

.more-then-flooring-right svg {
    width: 100%;
    height: 100%;
}

.more-than-flooring h1 {
    font-family: Roboto Condensed;
    font-weight: lighter;
    font-size: 2.6em;
    margin-bottom: 0.6em;
    color: #373737;
}

.more-then-flooring-right p {
    font-family: Roboto Slab;
    font-weight: lighter;
    font-size: 1.3em;
    color: #272727;
}

/* DESIGN HELP */

section.design-help {
    height: 575px;
    position: relative;
    background-color: #efefef;
    padding: 8em 0;
    overflow: hidden;
}

#design-help-img {
    width: 75%;
    height: 100%;
    float: right;
    margin-right: 25px;
    box-shadow: -2px 5px 14px #888;
    border: 8px solid #fff;
}

.design-help-description-container {
    width: 280px;
    background-color: rgba(250, 250, 250, 0.96);
    position: absolute;
    left: 140px;
    top: 250px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
}

.design-help-description p {
    padding: 1em;
    font-family: Roboto Slab;
    text-align: center;
}

.design-help-description h1 {
    background-color: #FF7C39;
    margin: 0;
    font-family: Roboto Condensed;
    font-weight: lighter;
    text-align: center;
    padding: 1em;
    border-top-left-radius: 20px;
}

/* STEPS */

section.steps {
    background-color: #333;
    position: relative;
    margin-top: 10em;
}

.steps-bottom-container {
    padding-top: 2em;
}

.steps-bottom-container h1 {
    color: #fff;
    font-size: 2.4em;
    text-align: center;
    font-family: Roboto Condensed;
    font-weight: lighter;
}

.steps-bottom-container ul {
    font-size: 0;
    width: 956px;
    margin: auto;
    position: relative;
}

.steps-bottom-container li {
    font-size: 16px;
    display: inline-block;
    position: relative;
    margin-left: 100px;
}

.steps-bottom-container li:first-of-type {
    margin-left: 0;
}

.steps-bottom-container li:last-of-type {
    display: block;
    margin: auto;
    width: 260px;
}

.step {
    background: url(../../resources/images/step-box.png) center no-repeat;
    height: 220px;
    width: 250px;
    position: relative;
    display: inline-block;
    position: relative;
}

.step:after {
    color: #333;
    font-family: Roboto Slab;
    content: "1";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 16px;
    font-size: 1.8em;
}

.step h4 {
    text-transform: uppercase;
    color: #333;
    position: absolute;
    font-family: Roboto Condensed;
    font-size: 14px;
    bottom: 28px;
    left: 28px;
    width: 78%;
    text-align: center;
}

.step-graphic {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
}

#step-02:after {
    content: "2";
}

#step-03:after {
    content: "3";
}

#step-04 {
    margin-top: 5em;
    display: block;
}

#step-04:after {
    content: "4";
}

.steps-bottom-container .pointer {
    position: absolute;
    left: 250px;
    top: 50%;
}


.steps-bottom-container .circle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotate(03deg);
    top: 8px;
}

.steps-bottom-container .dashed-circle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotate(-30deg);
    top: 6px;
}

#lg-pointer {
    position: absolute;
    right: 130px;
    top: 200px;
}

/* PRODUCTS */

section.products {
    margin-top: 1em;
    color: #474747;
    padding: 3em;
}

.products .brands {
    width: 80%;
    margin: 0 auto;
}

.brands h1 {
    font-family: Roboto Condensed;
    font-size: 2.3em;
    width: 382px;
    display: block;
    margin: 0.5em auto;
    font-weight: lighter;
    position: relative;
}

.brands h1:after {
    content: "";
    position: absolute;
    right: -37%;
    width: 35%;
    top: 50%;
    height: 1px;
    background-color: #474747;
}

.brands h1:before {
    content: "";
    position: absolute;
    left: -39%;
    width: 35%;
    top: 50%;
    height: 1px;
    background-color: #474747;
}

.brands img {
    width: 80%;
    margin: auto;
    display: block;
}

section.products .products-inner {
    width: 95%;
    margin: 4em auto;
}

.products-header {
    
}

.products-inner .products-header h1 {
    font-size: 2.3em;
    color: #474747;
    font-family: Roboto Condensed;
    font-weight: lighter;
    margin: 0;
    text-align: center;
    margin-bottom: 1em;
    position: relative;
}

.products-header h1:after {
    content: "";
    position: absolute;
    right: 20%;
    width: 18%;
    top: 50%;
    height: 1px;
    background-color: #474747;
}

.products-header h1:before {
    content: "";
    position: absolute;
    left: 20%;
    width: 18%;
    top: 50%;
    height: 1px;
    background-color: #474747;
}

.product-container {
    margin: auto;
}

.product-container ul li {
    width: 31%;
    margin-right: 25px;
    display: inline-block;
    margin-bottom: 25px;
    box-shadow: 0px 0px 4px #888;
    overflow: hidden;
}

.product-details ul {
    position: relative;
    padding: 0.5em 2em;
    display: none;
}

.product-details ul li {
    width: unset;
    text-align: center;
    margin: 6px 0;
    box-shadow: unset;
}

.product-details li.block-centered {
    width: 100%;
}

.product-details a {
    text-decoration: underline;
    font-family: Roboto;
    color: #FF5F00;
}

.product-details li:nth-of-type(odd) {
    width: 150px;
}

.product-details li:nth-of-type(even) {
    float: right;
}

.product-container ul li:nth-of-type(3n + 0) {
    margin-right: 0;
}

.product-container .product-picture {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}

#product-hardwood {
    background-image: url(../../resources/images/wood-floor/wood-floor-01.jpg);
    background-position: center bottom;
}

#product-tile {
    background-image: url(../../resources/images/tile-floor/tile-floor-01.jpg);
}

#product-carpet {
    background-image: url(../../resources/images/carpet-floor/carpet-04.jpg);
}

#product-laminate {
    background-image: url(../../resources/images/laminate-floor/laminate-02.jpg);
    background-position: center bottom;
}

#product-countertop {
    background-image: url(../../resources/images/countertop/countertop-small.jpg);
    background-position: center bottom;
}

#product-cabinets {
    background-image: url(../../resources/images/cabinets.jpg);
}

.product-details {
    margin: 0;
}

.product-details h4 {
    margin: 0;
    color: #fff;
    text-transform: uppercase;
    font-family: Roboto Condensed;
    background-color: #474747;
    padding: 0.7em 0 0.5em 1em;
    position: relative;
}

.product-details h4 a {
    position: absolute;
    color: #fff;
    right: 10px;
    font-size: 0.8em;
    top: 12px;
    text-decoration: underline;
    text-transform: none;
}

.product-details p {
    color: #474747;
}

/* TESTIMONIES */

section.testimonies {
    margin-top: 5em;
    margin-bottom: 1em;
    background-color: #eee;
    padding: 2em 0;
}

.testimonies img.testimonies-logo {
    margin: auto;
    display: block;
    width: 622px;
}

.testimonies h1 {
    font-family: Roboto Condensed;
    font-weight: lighter;
    font-size: 3em;
    color: #474747;
    text-align: center;
    margin: 0.2em 0;
    text-shadow: 0px 2px 1px #fff;
}

.testimates {
    width: 70%;
    margin: auto;
    text-align: center;
    position: relative;
}

span.custom-line {
    width: 50%;
    height: 1px;
    background-color: #777;
    display: block;
    margin: 0 auto 1em auto;
}

.testimates blockquote {
    width: 50%;
    margin: 0 auto 1em auto;
    font-family: ds;
    font-style: italic;
    font-size: 1.2em;
}

.testimates span.quote-by {
    text-transform: uppercase;
    color: #f85f00;
    position: relative;
    font-family: Roboto;
}

span.quote-by:after {
    content: " ";
    position: absolute;
    right: -60%;
    width: 50%;
    top: 50%;
    height: 1px;
    background-color: #f85f00;
}

span.quote-by:before {
    content: " ";
    position: absolute;
    left: -60%;
    width: 50%;
    top: 50%;
    height: 1px;
    background-color: #f85f00;
}

@media (max-width: 1000px) {
    
    #main .landing-info-container h1 {
        font-size: 1.8em !important;
    }
    
    #main .landing-info-container {
        top: 20%;
        width: 90%;
    }
   
    .why-choose-us header h1 {
        font-size: 2em;
        width: 620px;
    }
    
    .why-choose-us h1:after {
        content: "";
        position: absolute;
        right: -18%;
        width: 15%;
        top: 50%;
        height: 1px;
        background-color: #474747;
    }

    .why-choose-us h1:before {
        content: "";
        position: absolute;
        left: -18%;
        width: 15%;
        top: 50%;
        height: 1px;
        background-color: #474747;
    }
    
    .benefit {
        height: 400px;
    }
    
    .why-choose-us h4 {
        font-size: 1.5em !important;
        margin-top: 0.5em !important;
    }
    
    .why-choose-us .benefit .dots {
        display: none;
    }
    
    section.more-than-flooring #cabinet-svg {
        width: 300px;
        display: block;
        margin-left: 6%;
    }
    
    .more-then-flooring-right {
        right: 2%;
        width: 50%;
        font-size: 0.8em;
    }
    
    .more-then-flooring-right p {
        margin-top: -0.6em;
    }
}



@media (max-width: 800px) {
    
    .why-choose-us header h1 {
        font-size: 2em;
        width: 60%;
        text-align: center;
    }
    
    .benefit {
        display: block;
        width: 60%;
        margin: auto !important;
        border: none;
        height: 300px;
    }
    
    section.serving-torrence h1 {
        font-size: 1.5em;
        text-align: left;
    }
    
    section.more-than-flooring #cabinet-svg {
        width: 400px;
        margin: auto;
    }
    
    .scroll-follow-breakpoint {
        padding-top: 1em;
    }
    
    .more-then-flooring-right {
        position: relative;
        display: block;
        left: 0;
        margin: 0 auto;
        width: 90%;
        top: 0;
        font-size: 0.9em;
        transform: none;
    }
    
    .more-then-flooring-right h1 {
        font-family: Roboto Condensed;
        font-size: 2.4em;
    }
}


@media (max-width: 500px) {
    section.more-than-flooring #cabinet-svg {
        width: 280px;
    }
}