
a:link, a:visited {
    color: #303E50;
    text-decoration: none;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    width: 98.55vw;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* HEADER STYLES */

#main-header {
    width: 100%;
    background-color: #111;
    position: relative;
    z-index: 10;
    overflow-x: hidden;
}

#main-header .facebook-link {
    color: #fff;
    position: absolute;
    left: 10%;
    top: 12px;
}

#main-header .facebook-link img {
    width: 32px;
    position: relative;
    top: 10px;
    margin-right: 6px;
}

#main-header .header-logo {
    display: block;
    margin: 0 auto;
    padding: 1em;
    width: 350px;
}

.header-logo img {
    width: 100%;
}

.header-logo img:nth-of-type(2) {
    display: none;
}

#main-header .phone-number {
    color: #fff;
    font-size: 1.3em;
    position: absolute;
    right: 8%;
    top: 28px;
}

#main-header .phone-number img {
    width: 32px;
    position: relative;
    left: -4px;
    top: 1px;
}

#mobile-menu-toggle {
    width: 42px;
    height: 32px;
    position: absolute;
    right: 20px;
    top: 22px;
    display: none;
}

#mobile-menu-toggle span {
    display: block;
    width: 40px;
    height: 4px;
    background-color: #eee;
    position: absolute;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    opacity: 1;
}

#mobile-menu-toggle span:nth-of-type(1) {
    top: 0;
}

#mobile-menu-toggle span:nth-of-type(1).clicked {
    opacity: 0;
}

#mobile-menu-toggle span:nth-of-type(2) {
    top: 12px;
    transform: rotate(0deg);
}

#mobile-menu-toggle span:nth-of-type(2).clicked {
    transform: rotate(45deg);
}

#mobile-menu-toggle span:nth-of-type(3) {
    top: 24px;
}

#mobile-menu-toggle span:nth-of-type(3).clicked {
    opacity: 0;
}

#mobile-menu-toggle span:last-of-type {
    top: 12px;
    transform: rotate(0deg);
}

#mobile-menu-toggle span:last-of-type.clicked {
    transform: rotate(-45deg);
}

#mobile-menu {
    position: fixed;
    z-index: 4;
    background-color: #222;
    top: 71px;
    width: 100%;
    font-family: Roboto Condensed;
    color: #fff;
    max-height: 60%;
    overflow-y: scroll;
    display: none;
    text-transform: uppercase;
    display: none;
}

#mobile-menu li {
    padding: 10px;
    cursor: pointer;
    position: relative;
}

#mobile-menu .mobile-submenu li {
    padding: 0;
}

#mobile-menu .mobile-submenu a {
    padding: 8px;
    cursor: pointer;
    width: 100%;
    display: block;
    color: #fff;
    border-left: 2px solid #FF5F00;
    margin-top: 6px;
}

.show > li:nth-child(1) > a:nth-child(1) {
    margin-top: 0px;
}

#mobile-menu a:active {
    color: #FF5F00;
}

#mobile-menu .layer1 {
    padding-left: 20px;
}

#mobile-menu .layer1:nth-of-type(odd) {
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
}

.mobile-dropdown .dropdown-arrow-mobile {
    position: absolute;
    top: 15px;
    right: 20px;
}

#mobile-menu .layer1 ul {
    overflow: hidden;
    height: 0;
    margin: 0;
    padding-left: 60px;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

#mobile-menu .layer1 ul.show {
    height: auto;
}
/* HEADER NAVIGATION STYLES */

#main-nav {
    position: relative;
    background-color: #fff;
}

#main-nav ul {
    display: block;
    width: 785px;
    margin: auto;
}

#main-nav li {
    cursor: pointer;
    padding: 1em 1.7em;
    display: inline-block;
    position: relative;
    margin-left: -5px;  /* This should fix the spacing between li tags */
}

#main-nav .menu {
    position: relative;
    color: #303E50;
    background: url(../../images/arrow_up.png) no-repeat;
    background-position-x: 92%;
    background-position-y: center;
    background-size: 10px;
    transition-duration: .4s;
}

#main-nav .menu.selected {
    background: url(../../images/arrow_down.png) no-repeat;
    background-position-x: 92%;
    background-position-y: center;
    background-size: 10px;
    background-color: #111;
    color: #fff;
}

#main-nav .sub-menu {
    background-color: #111;
    position: absolute;
    top: 50px;
    height: 0;
    letter-spacing: 2px;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(.68,-0.55,.27,1.55);
    left: 0px;
    z-index: -1;
}

#main-nav .sub-menu.flooring.show {
    height: 115px;
    z-index: 1;
}

#main-nav .sub-menu.home-design.show {
    height: 60px;
    z-index: 1;
}

#main-nav .sub-menu ul li img {
    position: absolute;
    left: -38px;
    top: 4px;
    width: 286px;
    bottom: -8px;
    opacity: 0;
    pointer-events: none;
}

#main-nav .sub-menu ul {
    width: 200px;
}

#main-nav .sub-menu ul li {
    font-size: 0.8em;
    height: auto;
    text-transform: uppercase;
    padding: 0;
    opacity: 0;
}

#main-nav .sub-menu ul li.show {
    opacity: 1;
}

#main-nav .sub-menu a {
    display: block;
    width: 198px;
    height: 100%;
    padding: 0.5em 0em 0.5em 1em;
}

#main-nav .sub-menu a:visited, #main-nav .sub-menu a:link {
    color: #fff;
}

#main-nav .sub-menu ul a:hover {
    text-shadow: 0px 0px 5px rgba(70, 70, 70, 0.7);
    background-color: #fff;
    color: #111;
    height: 16px;
}

#main-nav .flooring {
    width: 200px;
}



@media (max-width: 1000px) {
    #main-header .header-logo {
        width: 300px;
    }
    
    #main-header .facebook-link {
        left: 4%;
    }
    
    #main-header .phone-number {
        right: 2%;
    }
}

@media (max-width: 800px) {
    #main-header .facebook-link {
        font-size: 0.8em;
        top: 14px;
        left: 2%;
    }
    
    #main-header .facebook-link img {
        width: 28px;
    }
    
    #main-header .phone-number {
        font-size: 1em;
        right: 2%;
    }
    
    #main-header .phone-number img {
        width: 28px;
        top: 3px;
    }
}

@media (max-width: 740px) {
    #main-header {
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        right: 0;
    }
    
    #main-header .header-logo {
        width: 280px;
    }
    
    #main-header .header-logo img {
        width: 99%;
        position: relative;
        left: -10px;
    }
    
    .header-logo img:nth-of-type(1) {
        display: none;
    }
    
    .header-logo img:nth-of-type(2) {
        display: block;
        width: 135px !important;
    }
    
    .header-logo {
        width: 135px !important;
        margin: 0 !important;
    }
    
    #main-header .facebook-link {
        display: none;
    }
    
    #main-header .phone-number {
        display: none;
    }
    
    #main-nav {
        display: none;
    }
    
    #mobile-menu-toggle {
        display: block;
    }
}



